.addPostForm {
  display: inline-flex;
  align-items: center;
}

.textarea {
  resize: none;
  outline: none;
  border: none;
  margin: 0 2rem 0 0;
}

.addPost {
  display: flex;
  justify-content: flex-start;
}