.message {
  display: flex;
  align-items: center;

  & .text {
    background: azure;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  &.messageAuthor {
    flex-direction: row-reverse;

    & .text {
      width: 100%;
      background: lavender;
    }
  }
}



