.dialogs {
	height: 100%;
	display: grid;
	grid-template-areas: "c m m";
	grid-template-rows: 2fr auto;
}

.contacts {
	grid-area: c;
	background: lightcyan;
}

.messages {
	grid-area: m;
	background: lightskyblue;
}
